<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <!-- lijeva strana nav bara -->
            <div class="nav-left">
                <a href="{% if 'user_id' in session %}{{ url_for('dashboard') }}{% else %}{{ url_for('login') }}{% endif %}" class="logo">Memento</a>
                {% if 'user_id' in session %}
                    <a href="{{ url_for('upload_photo') }}" class="upload-button">Upload</a>
                {% endif %}
                {% if 'username' in session and session.role == 'admin' %}
                    <span class="admin-role">Admin</span>
                {% endif %}
            </div>

            <!-- sredina nav bara -->
            <div class="nav-center">
                {% block nav_center %}{% endblock %}
            </div>

            <!-- desna strana nav bara -->
            <div class="nav-links">
                {% if 'username' in session %}
                    <a href="{{ url_for('user_profile', username=session.username) }}" class="nav-link">Profile</a>
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                {% else %}
                    {% if request.path == url_for('login') %}
                        <a href="{{ url_for('register') }}" class="nav-link">Register</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>