{% extends "base.html" %}

{% block content %}
<div class="main-content profile-content">
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-info">
                <img src="{{ url_for('static', filename='images/empty.png') }}" class="profile-image">
                <h1 class="profile-username">{{ viewed_user.username }}</h1>
            </div>
            
            {% if is_own_profile %}
                <a href="#" class="edit-profile-btn">Edit Profile</a>
            {% endif %}
        </div>
        <div class="post-count">
            {{ posts|length }} Mementos
        </div>

        <div class="posts-grid">
            {% if posts %}
                {% for post in posts %}
                    <div class="post-card">
                        <img src="{{ url_for('get_photo', post_id=post.id) }}" alt="Post image" class="post-image">
                        <div class="post-details">
                            <p class="post-caption">{{ post.caption }}</p>
                            <div class="post-stats">
                                <span>Likes: {{ post.likes|length }}</span>
                                <span>Comments: {{ post.comments|length }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-mementos" style="font-size: 2.5rem;margin-top:40px">No Mementos</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}